.accounts-wrapper {
  background-color: #f7fafc;
  color: white;
  height: 100vh;
  font-family: "font-regular", "font-regular-arabic", sans-serif;
  max-height: 100vh;
  overflow: scroll;
}
.mask-add {
  mask: url("/assets/images/add-account.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 20px;
  width: 20px;
  background-color: black;
}
.avatar {
  mask: url("/assets/images/avatar.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 20px;
  width: 20px;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #202124;
  height: 100px;
}

.accounts {
  justify-content: center;
  display: table;
  position: relative;
}

.initial-credit {
  height: 25px;
  border-radius: 10px;
}

h1 {
  color: #202124;
}
.creation-form {
  position: relative;
}

.line-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.chart-container {
  border: 1px solid #000;
}

.details-wrapper {
}
.avatar-button {
  background-color: transparent;
  border: none;
}
