.accounts-wrapper{
    background-color:#35363a;
    color:white;
    height: 100%;
    font-family: "font-regular", "font-regular-arabic", sans-serif;
}
.mask-add{
    mask: url("/assets/images/add-account.svg");
    display: inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 20px;
    width: 20px;
    background-color: black ;
}
.avatar{
    mask: url("/assets/images/avatar.svg");
    display: inline-block;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    height: 20px;
    width: 20px;
    // background-color: white ;
}
.create-button{
    display: flex;
    align-items: center;
}

.create{
    width: 75px;
    height: 30px;
    border-radius: 5px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color:#202124;
    height: 100px;
}

.creation-form{
    position: absolute;
    z-index: 1;
    background-color: lightgray;
    top: 69px;
    inset-inline-end: 116px;
    border: 1px solid;
    height: 180px;
    color: black;
    width: 320px;
    font-size: 16px;
    display: grid;
}
.fill{
    display: flex;
    align-items: center;
    gap:5px;
    padding-inline:7px

}


.accounts{
justify-content: center;
display: table;
position: relative;
    height: 100vh;


}

.initial-credit{
    height: 25px;
    border-radius: 10px;
}