<div class="accounts-wrapper">
  <div class="header bg-account">
    <h2>
      {{
        appService.loggedInUser.firstName +
          " " +
          appService.loggedInUser.lastName
      }}
    </h2>
  </div>
  <h1>Accounts</h1>
  <div class="accounts">
    <app-user-account
      *ngFor="
        let account of userAccountsService.userAccounts$ | async;
        let i = index
      "
      [account]="account"
      [selectedAccountId]="
        selectedAccountId
          ? selectedAccountId
          : userAccountsService.userAccountsSource.value[0].accountId
      "
      (onSelectEmitter)="selectAccount($event)"
    ></app-user-account>
    <app-user-account
      [isCreate]="true"
      (onShowCreationFormClickEmitter)="createClick()"
    >
      <div class="creation-form" *ngIf="showCreationForm">
        <app-account-creation-form
          (onCreateAccount)="onAccountCreation($event)"
        ></app-account-creation-form>
      </div>
    </app-user-account>
  </div>
  <div class="details-wrapper">
    <app-transations
      *ngIf="selectedAccount && (appService.transactionTypes$ | async)?.length"
      [transactions]="selectedAccount.transactions"
      [transactionTypes]="appService.transactionTypes$ | async"
      [balance]="selectedAccount.balance"
      [accountId]="selectedAccount.accountId"
      (onSubmitClick)="addTransactionToAccount($event)"
    >
    </app-transations>
  </div>
</div>
