<div
  *ngIf="!isCreate"
  class="account-wrapper bg-account"
  [class.bg-white]="selectedAccountId === account.accountId"
  (click)="selectAccount()"
>
  <div class="account">
    <span class="mask-account"></span>
    <span>Account #{{ account.accountId }}</span>
  </div>
  <span
    ><b>{{ account.currency }}</b></span
  >
  <span [style.color]="'#202124'">Total balance </span>
  <span [style.font-size]="'20px'">{{ account.balance }}</span>
</div>
<div *ngIf="isCreate" class="account-wrapper add-account bg-account">
  <button class="create-button" (click)="showCreationForm()">
    <span class="create"></span>
  </button>
  <ng-content></ng-content>
</div>
