.transaction-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #35363a;
  font-size: 16px;
  font-family: "font-regular", "font-regular-arabic", sans-serif;
  height: 70px;
  padding-inline: 25px;
}

.transaction {
  display: grid;
}

.new-transaction-form {
  position: absolute;
  z-index: 1;
  display: grid;
  width: 350px;
  color: #35363a;
  inset-inline-start: 290px;
  padding: 9px;
  top: 42px;
  left: 78%;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 10px;
}

.button-add {
  background-color: transparent;
  border: none;
}

.mask-add {
  mask: url("/assets/images/add-account.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 28px;
  width: 28px;
  background-color: #35363a;
}
.mask-transaction {
  mask: url("/assets/images/transactions-icon.svg");
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  height: 25px;
  width: 50px;
  background-color: black;
}
.account-operations {
  width: 50%;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
  font-family: "font-regular", "font-regular-arabic", sans-serif;
  color: #35363a;
  box-shadow: 2px white;
}
